// EscherConverter

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='EscherConverter')
meta(name='robots' content='index, follow')
link(type='text/plain', rel='author', href='humans.txt')
link(rel='home' href='http://bigg.ucsd.edu/')

meta(property='og:title', content='EscherConverter')
meta(property='og:url', content='http://bigg.ucsd.edu/')
link(rel='canonical', href='http://bigg.ucsd.edu/')
link(rel='stylesheet', type='text/css', href='css/libraries.css')
link(rel='stylesheet', type='text/css', href='css/app.css')
